<p style="color: green"><%= notice %></p>

<h1>Books</h1>
<table>
<div id="books">
  <% @books.each do |book| %>

    <tr>
      <td>
        <%= link_to book.title, book %>
        <br /><small class="text-muted">by <%= book.author %> </small>
    </td>
    <td>
    
    </td>
    </tr>
  <% end %>
</div>
<p>
  </table>
<%= link_to "Create New book", new_book_path, class: "btn btn-primary mt-4" %>
</p>
